@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .shadow-1 {
    --shadow-color: rgba(100, 100, 111, 0.2);
    box-shadow: var(--shadow-color) 0px 7px 29px 0px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue-1: #4285f4;
  --blue-2: #1a68e7;

  --white-1: #fff;
  --white-2: rgb(240, 240, 240);

  --gray-1: #c4c4c4;
  --gray-2: #999;
  --gray-3: #777;
  --gray-4: #555;

  --orange-1: rgb(241, 168, 31);
  --orange-2: rgb(230, 151, 4);

  --radius-1: 3px;
  --radius-2: 5px;
  --radius-3: 7.5px;

  --shadow-1: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

body {
  /* background: var(--white-2); */
  color: var(--gray-4);
}

/* Loader Style */
.loader {
  border: 2px solid #f3f3f3;
  border-radius: 50%;
  border-top: 2px solid var(--blue-1);
  width: 25px;
  height: 25px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
