@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer utilities {
  .shadow-1 {
    --shadow-color: rgba(100, 100, 111, 0.2);
    box-shadow: var(--shadow-color) 0px 7px 29px 0px;
    
  }
} */

.shadow-1 {
  box-shadow: 0px 6px 12px rgba(30, 10, 58, 0.04);
}

.shadow-2 {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue-1: #cadcfc;
  --blue-2: #00246b;
  --blue-1: #d3c5e5;
  --blue-2: #735da5;
  --blue-2: cornflowerblue;
  --blue-3: #856fbb;

  /* --blue-1: #2563eb;
  --blue-2: #1a68e7; */

  --white-1: #fff;
  --white-2: rgb(240, 240, 240);

  --gray-1: #c4c4c4;
  --gray-2: #999;
  --gray-3: #777;
  --gray-4: #555;

  --orange-1: rgb(241, 168, 31);
  --orange-2: rgb(230, 151, 4);

  --radius-1: 3px;
  --radius-2: 5px;
  --radius-3: 7.5px;

  --shadow-1: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

body {
  /* font-family: sans-serif; */
  background: #f0f1f2;
  background: #f0f4fa;
  background: #f5f5fc;
}

/* Loader Style */
.loader-1 {
  border: 2px solid #fff;
  border-radius: 50%;
  border-top: 2px solid var(--blue-1);
  width: 25px;
  height: 25px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 1.5s linear infinite;
}

.loader-2 {
  border: 3px solid var(--blue-1);
  border-radius: 50%;
  border-top: 3px solid #fff;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 1.5s linear infinite;
}

.loader-3 {
  border: 2px solid var(--gray-3);
  border-radius: 50%;
  border-top: 2px solid #fff;
  width: 24px;
  height: 24px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 1.5s linear infinite;
}

.polygon {
  /* clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%); */
  clip-path: polygon(
    0% 20%,
    60% 20%,
    60% 0%,
    100% 50%,
    60% 100%,
    60% 80%,
    0% 80%
  );
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.skeleton {
  animation: skeleton-loading 0.5s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: rgb(240, 240, 240);
  }
  25% {
    background-color: rgb(235, 235, 235);
  }
  75% {
    background-color: rgb(230, 230, 230);
  }
  100% {
    background-color: rgb(225, 225, 225);
  }
}
